@model RoleViewModel

<form method="post">
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <p>
        <label asp-for="Name">Название роли</label><br />
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name" />

    </p>

   <br />
    <button class="btn btn-success" type="submit" asp-area="Admin" asp-controller="Role" asp-action="Add">Сохранить</button>

</form>
