@model List<RoleViewModel>

<div class="row">
    <div class="col-3">
        @await Html.PartialAsync("AdminLeftMenu")
    </div>
    <div class="col-9">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model[i].Name</td>
                        <td><a class="btn small" asp-area="Admin" asp-controller="Role" asp-action="Delete" asp-route-roleName="@Model[i].Name" role="button">Удалить</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-success" asp-area="Admin" asp-controller="Role" asp-action="Add" role="button">Добавить</a>
        </div>

    </div>
</div>