@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Кабинет</a>
    </li>
    @if (User.IsInRole(Constants.AdminRoleName))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Order" asp-action="Index">Панель администратора</a>
        </li>
    }

}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
    </li>
}
