	<div class="col text-center">
		<form method="post">
			<input type="text" name="SearchString" placeholder="Название товара" />
			<button class="btn btn-success" type="submit" asp-area="" asp-controller="Home" asp-action="Search">Найти</button>
		</form>
	</div>
